.loginPage {
    background: url('./assets/Yourchord_bg.png');
    /* background: url("./assets/Yourchord_bg.png"); */
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;

}

input.input-box,
textarea {
    background: #F1F1FB;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0);

}

.tabLeft {
    background-color: #F1F1FB;

}

.font {
    color: black;
    width: 500px;
    height: auto;
}

.pd-left {
    padding-left: 10px;
}

.pd-left-lyric {
    padding-left: 50px;
}

.pd-right {
    padding-right: 10px;
}

.pd-right-image-song {
    padding-right: 50px;
}

.pd-top {
    padding-top: 40px;

}

.logout {
    padding-top: 500px;
}

.pd-bottom {
    padding-bottom: 10px;
}

.song_image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.song_image_view {
    width: 600px;
    height: 600px;
    border-radius: 10px;

}

.profile_image {
    width: 100px;
    height: 100;
    border-radius: 10px;
}


.tabs {
    padding: 5px;
    text-align: center;
    width: 40%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    outline: none;
    background: #F1F1FB;

}

.bloc-tabs {
    display: flex;
    height: 40px;

}

.active-tabs {
    background: #F1F1FB;
    border-bottom: 10px solid transparent;
    justify-content: center;
    font-size: 15px;
    color: rgb(88, 147, 241);

}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 4px;
    background: rgb(88, 147, 241);
    border-radius: 20px;


}

.content-tabs {
    flex-grow: 1;
}

.h2 {
    text-align: center;
}

.content {
    background: white;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    display: none;
}

.active-content {
    display: block;
}

/* ///////////////// */

.alert-success {
    background-color: #8EF3C5;
    color: #42A084;
}

.alert {
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 14px;
}

.ti-announcement:before {
    content: "\e64f";
}




.card .numbers {
    font-size: 20px;
    text-align: right;
}


.footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
}

.card .footer {
    padding: 0;
    line-height: 30px;
}

.card .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}



.card {
    border-radius: border-radius-extreme;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: card-black-color;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

    h6 {
        font-size: font-size-small;
        margin: 0;
    }

    .icon-big {
        font-size: 3em;
        min-height: 64px;
    }

    .numbers {
        font-size: 2em;
        text-align: right;

        p {
            margin: 0;
        }
    }
}